<!-- <html>
  <head>
    <title>
    <%= title %>    
    </title>
  </head>
  <body>
    <!-- paranthesis holds the name of the 
        file from which the header is loaded
          <%- include('_header');%>          -->
     <link rel="stylesheet" href="/css/user_profile.css" >    
<h1>  
    Codeial/ Profile page
</h1>
<!-- <%- include('_footer');%>
  </body>
</html> -->
